@model ConversionServer.Models.DigitalModel
@{
    ViewData["Title"] = "DigitalConversion";
}

<h2>DigitalConversion</h2>

<!--Converter Div-->
<div id="app" class="converter container background-grey">
    <!--Row Div-->
    <div class="row">
        <!--Form Div-->
        <form action="(insertActionHere)" method="post">
            <!--1st Column Div-->
            <div class="col-md-5 input-column" align="center">
                <label for="MegaBytes">MegaBytes</label><input name="MegaBytes" type="number" step="any" required />
                <label for="GigaBytes">GigaBytes</label><input name="GigaBytes" type="number" step="any" required />
            </div>
            <!--1st Column Div-->
            <!--Seperation Div-->
            <div class="col-md-2">
                <label for="Convert Data">Convert Data</label>
                <input name="submit" type="submit" />
            </div>
            <!--Seperation Div-->
            <!--2nd Column Div-->
            <div class="col-md-5 input-column" align="center">
                <label for="MegaBytes">GigaBytes</label><input name="MegaBytes" type="number" step="any" disabled value="@Model.GigaByteOutput"/>
                <label for="GigaBytes">MegaBytes</label><input name="GigaBytes" type="number" step="any" disabled value="@Model.MegabyteOutput"/>
            </div>
            <!--2nd Column Div-->
        </form>
        <!--Form Div-->
    </div>
    <!--Row Div-->
</div>
<!--Converter Div-->