<!--Converter Div-->
<div id="app" class="converter container background-grey">
    <!--Row Div-->
    <div class="row">
        <!--Form Div-->
        <form action="(insertActionHere)" method="post">
            <!--1st Column Div-->
            <div class="col-md-5 input-column" align="center">
                <h2 class="input-header font-header">(INSERT UNIT HERE)</h2>
                <input name="RightInput" type="number" step="any" />
            </div>
            <!--1st Column Div-->
            <!--Seperation Div-->
            <div class="col-md-2">
                <label for="Convert Data">Convert Data</label>
                <input name="submit" type="submit" />
            </div>
            <!--Seperation Div-->
            <!--2nd Column Div-->
            <div class="col-md-5 input-column" align="center">
                <h2 class="input-header font-header">(INSERT UNIT HERE)</h2>
                <input name="LeftInput" type="number" step="any" />
            </div>
            <!--2nd Column Div-->
        </form>
        <!--Form Div-->
    </div>
    <!--Row Div-->
</div>
<!--Converter Div-->